# Secret file
.env
.idea/jsLibraryMappings.xml
.idea/sonarlint/issuestore/2/
.idea/sonarlint/issuestore/5/
.idea/sonarlint/issuestore/6/
.idea/sonarlint/issuestore/7/
.idea/sonarlint/issuestore/8/
.idea/sonarlint/issuestore/9/
.idea/sonarlint/issuestore/b/
.idea/sonarlint/issuestore/d/
.idea/sonarlint/issuestore/e/
.idea/sonarlint/issuestore/f/
coverage/
node_modules/.bin/browserslist
node_modules/.bin/browserslist-lint
node_modules/.bin/esparse
node_modules/.bin/esvalidate
node_modules/.bin/import-local-fixture
node_modules/.bin/jest
node_modules/.bin/js-yaml
node_modules/.bin/jsesc
node_modules/.bin/json5
node_modules/.bin/node-which
node_modules/.bin/parser
node_modules/.bin/resolve
node_modules/.bin/uuid
node_modules/@ampproject/
node_modules/@babel/
node_modules/@bcoe/
node_modules/@istanbuljs/
node_modules/@jest/
node_modules/@jridgewell/
node_modules/@sinclair/
node_modules/@sinonjs/
node_modules/@types/babel__core/
node_modules/@types/babel__generator/
node_modules/@types/babel__template/
node_modules/@types/babel__traverse/
node_modules/@types/graceful-fs/
node_modules/@types/istanbul-lib-coverage/
node_modules/@types/istanbul-lib-report/
node_modules/@types/istanbul-reports/
node_modules/@types/prettier/
node_modules/@types/stack-utils/
node_modules/@types/yargs-parser/
node_modules/@types/yargs/
node_modules/ansi-escapes/
node_modules/ansi-styles/
node_modules/argparse/
node_modules/babel-jest/
node_modules/babel-plugin-istanbul/
node_modules/babel-plugin-jest-hoist/
node_modules/babel-preset-current-node-syntax/
node_modules/babel-preset-jest/
node_modules/browserslist/
node_modules/bser/
node_modules/buffer-from/
node_modules/busboy/
node_modules/callsites/
node_modules/camelcase/
node_modules/caniuse-lite/
node_modules/chalk/
node_modules/char-regex/
node_modules/ci-info/
node_modules/cjs-module-lexer/
node_modules/cliui/
node_modules/co/
node_modules/collect-v8-coverage/
node_modules/color-convert/
node_modules/color-name/
node_modules/convert-source-map/
node_modules/cross-spawn/
node_modules/dedent/
node_modules/deepmerge/
node_modules/detect-newline/
node_modules/diff-sequences/
node_modules/diff/
node_modules/electron-to-chromium/
node_modules/emittery/
node_modules/error-ex/
node_modules/escalade/
node_modules/escape-string-regexp/
node_modules/esprima/
node_modules/execa/
node_modules/exit/
node_modules/expect/
node_modules/express-fileupload/
node_modules/fast-json-stable-stringify/
node_modules/fb-watchman/
node_modules/find-up/
node_modules/gensync/
node_modules/get-caller-file/
node_modules/get-package-type/
node_modules/get-stream/
node_modules/globals/
node_modules/graceful-fs/
node_modules/html-escaper/
node_modules/human-signals/
node_modules/import-local/
node_modules/imurmurhash/
node_modules/is-arrayish/
node_modules/is-core-module/
node_modules/is-generator-fn/
node_modules/is-stream/
node_modules/isarray/
node_modules/isexe/
node_modules/istanbul-lib-coverage/
node_modules/istanbul-lib-instrument/
node_modules/istanbul-lib-report/
node_modules/istanbul-lib-source-maps/
node_modules/istanbul-reports/
node_modules/jest-changed-files/
node_modules/jest-circus/
node_modules/jest-cli/
node_modules/jest-config/
node_modules/jest-diff/
node_modules/jest-docblock/
node_modules/jest-each/
node_modules/jest-environment-node/
node_modules/jest-get-type/
node_modules/jest-haste-map/
node_modules/jest-leak-detector/
node_modules/jest-matcher-utils/
node_modules/jest-message-util/
node_modules/jest-mock/
node_modules/jest-pnp-resolver/
node_modules/jest-regex-util/
node_modules/jest-resolve-dependencies/
node_modules/jest-resolve/
node_modules/jest-runner/
node_modules/jest-runtime/
node_modules/jest-snapshot/
node_modules/jest-util/
node_modules/jest-validate/
node_modules/jest-watcher/
node_modules/jest-worker/
node_modules/jest/
node_modules/js-tokens/
node_modules/js-yaml/
node_modules/jsesc/
node_modules/json-parse-even-better-errors/
node_modules/json5/
node_modules/just-extend/
node_modules/kleur/
node_modules/leven/
node_modules/lines-and-columns/
node_modules/locate-path/
node_modules/lodash.get/
node_modules/makeerror/
node_modules/merge-stream/
node_modules/method-override/
node_modules/micromatch/
node_modules/mimic-fn/
node_modules/mock-fs/
node_modules/natural-compare/
node_modules/nise/
node_modules/node-int64/
node_modules/node-releases/
node_modules/npm-run-path/
node_modules/onetime/
node_modules/p-limit/
node_modules/p-locate/
node_modules/p-try/
node_modules/parse-json/
node_modules/path-exists/
node_modules/path-key/
node_modules/path-parse/
node_modules/picocolors/
node_modules/pirates/
node_modules/pkg-dir/
node_modules/pretty-format/
node_modules/prompts/
node_modules/react-is/
node_modules/require-directory/
node_modules/resolve-cwd/
node_modules/resolve-from/
node_modules/resolve.exports/
node_modules/resolve/
node_modules/shebang-command/
node_modules/shebang-regex/
node_modules/sinon/
node_modules/sisteransi/
node_modules/slash/
node_modules/source-map-support/
node_modules/source-map/
node_modules/sprintf-js/
node_modules/stack-utils/
node_modules/streamsearch/
node_modules/string-length/
node_modules/strip-bom/
node_modules/strip-final-newline/
node_modules/strip-json-comments/
node_modules/supports-preserve-symlinks-flag/
node_modules/test-exclude/
node_modules/tmpl/
node_modules/to-fast-properties/
node_modules/type-detect/
node_modules/type-fest/
node_modules/update-browserslist-db/
node_modules/uuid/
node_modules/v8-to-istanbul/
node_modules/walker/
node_modules/which/
node_modules/wrap-ansi/
node_modules/write-file-atomic/
node_modules/y18n/
node_modules/yargs-parser/
node_modules/yargs/
node_modules/yocto-queue/